*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: deepskyblue;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-github{
    width: 10vw;
}
main{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 15vw;
    align-items: center;
    font-weight: 900;
}