*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: deepskyblue;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-github{
    width: 10vw;
}
main{
    display: flex;
    justify-content: center;
}
ul{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
li{
    color: white;
    transition: all ease 0.2s;
}
li:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: turquoise;
}
.yoda{
    width: 20vw;
}